<template>
    <div class="container">
        <span>LARAVEL INIMOV Dev TEST</span> <br>
        <img class="mt-5"  src="/img/brand/inimov.png" alt="inimov brand logo">
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
